 /* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  height: 5%;
  width: 28%;
  font-size:12px; 
  margin-left: 71%; 
  /*margin-left: 719px;*/
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
  height: 5%;
  width: 28%;
  font-size:12px; 
  margin-left: 71%; 
  /*margin-left: 719px; */
}


.main {
  text-align: left;
  font-size: 22px; 
  font-family: copperplate; 
  color: black;
  padding-left: 15px;
  padding-bottom: 30px;
  position: fixed;
}

.right {
  position: absolute;
  right: 87%;
  top: 0px; 
  width: 150px;
  padding: 10px 10px 0px 10px;
  float: right; 
}

.enterMessage {
  width: 290px;
  height: 30px;
}

.enterMessageDiv {
    /*padding-left: 20%;*/
    position:relative;
    bottom: 50%;
    top: 50%;
    width: 80%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-left: 235%;
}
.foot {
    position:fixed;
    bottom:0;
    padding: 30px;
    width: 23%;
}

.btnSend {
  display: inline-block;
  text-align: center;
}

.button {
  height: 30px; 
  display: inline;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

.logoRow {
  width: 100%;
  height: 20%;
  padding: 5px 5px 5px 5px;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
} 

body {
  background-image: url(./images/greybackground.jpg);
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;*/
}

.wrapper {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}